
.style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200703/pngtree-mathematics-education-calculator-ruler-hand-drawn-background-image_340649.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.calculator {
    width: 300px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1.5rem;
    text-align: right;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.keypad {
    display: grid;
    /* take equal portion of available space of 4 columns */
    grid-template-columns: repeat(4, 1fr);            
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    background-color: #FCF3EE;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #ccc;
}

